h1 {
  color: royalblue;
}

h2 {
  color: royalblue;
}

#showBtn {
  background-color: rgba(0, 0, 0, 0.562);
  color: white;
  padding: 8px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 8px;
  border: none;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}